@model List<Todo>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Todo/Dashboard.css">
    </head>
    <body>
        <header>
            <div class="hLeft">
                <h1 class="title">Welcome, @(Context.Session.GetString("Name"))</h1>
            </div>
            <div class="hRight">
                <a asp-controller="Todo" asp-action="NewTodo" class="btn btn-outline-primary">Add Todo</a>
                <a asp-controller="User" asp-action="Logout" class="btn btn-outline-danger">Logout</a>
            </div>
        </header>
        <div class="body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count == 0)
                    {
                        <div class="empty">
                            <h1>You currently have no todos!</h1>
                        </div>
                        
                    }
                    else
                    {
                        @foreach (Todo i in Model)
                        {
                            <tr>
                                <td>@i.Name</td>
                                <td>@i.Description</td>
                                <td class=@(i.Status == "Unresolved"? "unres": "res")>@i.Status</td>
                                <td>@i.DueDate.ToString("MMMM d, yyyy")</td>
                                <td>
                                    <a asp-controller="Todo" asp-action="ViewOne"  asp-route-todoId="@i.TodoId" class="btn btn-outline-primary">View</a>
                                    @if(i.Status == "Unresolved")
                                    {
                                        <a asp-controller="Todo" asp-action="Resolve"  asp-route-todoId="@i.TodoId" class="btn btn-outline-success">Resolve</a>
                                    }
                                    <a asp-controller="Todo" asp-action="DeleteOne"  asp-route-todoId="@i.TodoId" class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>